* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #003649;
  background-image: url("https://www.transparenttextures.com/patterns/soft-circle-scales.png");
  font-family: "Montserrat Underline", serif;
  font-optical-sizing: auto;
  min-width: fit-content;
}

h3 {
  text-align: center;
  color: #DF2430;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding: 0 10px;
  min-height: calc(100vh - 101px);
  background-color: rgba(0, 0, 0, 0.60);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Montserrat", serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

input {
  height: 30px;
  width: 250px;
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
}

button {
  height: 34px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 850px) {
    .container {
    margin: 0 10%;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 0;
  }
}
